html,body {
    margin: 0;
}

.iconProject {
    width: 25px;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#sidebar {
    background-color: aliceblue;
    border-style: solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: space-around;
}

#header {
    background-color: azure;
    width: 1235px;
    padding: 20px
}

#assignments {
    border-style: dotted;
    padding: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 386px);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 616px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 5px;
}
#annoucements {
    background-color: wheat;
}

#trending {
    background-color: thistle;
}

.project {
    border-style: outset;
    border-radius: 12px;
    border: 10px solid rgb(233 233 233 / 50%);
    border-width: 5px;
    padding: 10px;
    background: linear-gradient(to right,
     #fff429 0%,#fff429 1%,#f9f4f4 10%,
     #fff1f1 100%);
     
}

.maincont {
    display: flex;
    flex-flow: column;
}

.projectsides {
    display: flex;
}

.rightcont {
    display: flex;
    flex-flow: column;
    padding-left: 150px;
    padding-right: 150px;
    background-color: lavender;
    align-items: center;
    justify-content: space-around;
}

.announcements {
    background-color: beige;
}
/* .project { */
    /* display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 150px);
} */
